/* CSS declarations go here */
#navigation .container {
  padding: 0;
}
#navigation .btn {
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  padding: 0;
}
h1.logo {
  text-align: center;
  display: block;
}

.logo {
  background: url("/logo.png") no-repeat center center;
  background-size: 200px 200px;
  text-indent: -99999px;
  width: 200px;
  height: 200px;
  display: block;
  width: 100%;
}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .logo {
    background: url("/logo@2x.png") no-repeat center center;
    background-size: 200px 200px;
  }
}


body {
  background-color: #A5D6CD;
}

.main-wrapper {
  padding-bottom: 50px;
}

.clear-fix {
  clear: both;
}
.center-text {
  padding: 1em;
  text-align: center;
}
.home-grid {
  list-style-type: none;
  padding: 0;
  text-align: left;
  width: 100%;
}

.half-space {
  display: block;
  float: left;
  width: 50%;
  padding: 5px;
}

.home-grid-photo {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.grid-block {
  text-align: center;
  padding: 0 60px;
}

.chevron-container-left, .chevron-container-right {
  position: fixed;
  width: 60px;
  text-align: center;
  height: 90%;
  bottom: 0;
  z-index: 1;
  font-size: 2em;
  cursor: pointer;
}

.chevron-button {
  position: absolute;
  top: 50%;
  pointer-events: none;
  text-align: center;
  width: 60px;
}

.chevron-container-left {
  left: 0;
}

.chevron-container-right {
  right: 0;
}

.profile-name {
  border: 2px solid #50af9d;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  background-color: white;
}

.is-hidden {
  display: none;
}

.donate {
  position: absolute;
  right: 4rem;
  bottom: 7rem;
}

.back-button {
  position: absolute;
  left: 1em;
  top: 1em;
}

.conversation-starter {

}

.conversation-starter-container {
  border: 2px solid #50af9d;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  height: 60vh;
}
